html,body {
    margin:0;
    padding:0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.topBar {
    width: 100%;
    height: 60px;
    margin: 0px; 
    background-color: white;
    position: fixed;
    border-bottom: 1px solid #D8D8D8;
    z-index: 10;
}

.topBar a {
    text-decoration: none;
    color: black;
}

.links {
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 25px 50px 0px 50px;
    word-spacing: 50px;
    font-size: 12px;
}

.links a:hover {
    color: #ffb3cc;
}

/*.mainBox {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    background-color: #ffb3cc;
    z-index: 5;
 }*/

.contactMe {
 	font-family: 'Roboto Condensed', sans-serif;
 	color: #ffb3cc;
 	font-size: 14px;
 	padding-top: 200px;
 	padding-left: 150px;
 }

 .email {
 	color: black;
 	font-size: 60px;
 	padding-left: 150px;
 }

 .text {
 	padding-left: 150px;
 	/*font-family: 'Cormorant Garamond', serif;*/
 	font-size: 20px;
 	padding-right: 500px;
 	line-height: 30px;
 }

 .followMe {
 	font-family: 'Roboto Condensed', sans-serif;
 	color: #ffb3cc;
 	font-size: 14px;
 	padding-top: 80px;
 	padding-left: 150px;
 }

 .images {
	padding-top: 10px;
	position: relative;
	left: 150px;
	z-index: 5px;
}






