body {
	padding: 50px 200px 200px 200px;
	font-family: 'Cormorant Garamond', serif;
	background-color: #fff2e6;
	font-size: 18px;
}

h1 {
	color: #ffc999;
	text-align: center;
	font-size: 50px;
}

h2 {
	color: #ffc999;
	text-align: center;
	font-size: 40px;
}